:root {
	--dark-color-a: #111;
	--dark-color-b: #222;
	--dark-color-c: #333;
	--light-color: #e6e9ff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.button {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
	border-radius: 0.2rem;
}

/* Chat Page */

.chat-container {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 80%;
	background: var(--dark-color-c);
	margin: 30px auto;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.chat-header {
	display: flex;
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	margin-bottom: 1px;
	align-items: center;
	justify-content: space-between;
}

.chat-header h1 {
	font-size: 1.2rem;
}

.chat-header .button {
	size: 3em;
	font-size: 0.8em;
	text-align: center;
}

.chat-main {
	display: grid;
	grid-template-columns: 12% 76% 12%;
	height: 85%;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	text-align: center;
	font-size: 1em;
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	text-align: center;
	font-size: 1.2em;
	padding: 8px 2px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 1em;
}

.chat-sidebar ul {
	padding: 0.5em;
}

.chat-sidebar ul li {
	text-align: center;
	font-size: 1em;
	padding: 5px 0 0;
}

.chat-messages {
	padding: 10px 30px;
	max-height: 99.6%;
	overflow-y: scroll;
}

.chat-messages .new-message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #555;
	border-radius: 5px;
	color: white;
}

.chat-messages .new-message .message-data {
	font-size: 15px;
	color: #eee;
	margin-bottom: 7px;
}

.chat-messages .new-message .message-data span {
	color: rgb(255, 255, 255);
}

.typing-message {
	align-self: end;
	top: 10px;
	left: 10px;
	color: #eee;
	font-size: 16px;
}

.typing-message span {
	color: rgb(255, 0, 0);
	opacity: 0.7;
}

.chat-form-container {
	padding: 10px 10px;
	background-color: var(--dark-color-a);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 2em;
	flex: 1;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

/* Join Page */
.join-container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 100%;
}

.join-main {
	text-align: center;
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
	font-size: 1.5rem;
}

.join-main input[type='text'] {
	font-size: 1.5rem;
	padding: 5px;
	height: 40px;
	width: 100%;
	text-align: center;
	border-radius: 0.3rem;
}

.join-main select {
	font-size: 1.5rem;
	padding: 5px;
	height: 40px;
	width: 100%;
	text-align: center;
	border-radius: 0.3rem;
}

.join-main .button {
	margin-top: 10px;
	width: 80%;
	font-size: 1.2rem;
}

/* @media (max-width: 600px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
} */

/* @media (max-width: 400px) {
} */
